<div class="color-filter">
  <div class="color-filter__header">
    <p class="color-filter__title">Layers</p>
    <div class="color-filter__actions">
      <button (click)="selectAll()">All</button>
      <button (click)="selectNone()">None</button>
    </div>
  </div>
  <div class="color-filter__list">
    <div
      *ngFor="let color of colors"
      class="color-filter__item"
      [class.color-filter__item--inactive]="!activeColors.has(color)"
      (click)="toggle(color)"
    >
      <span class="color-filter__swatch" [style.background-color]="color"></span>
    </div>
  </div>
</div>
